# ZooKeeper 3.5.5 单机开发配置
tickTime=2000
initLimit=10
syncLimit=5
# Windows 本地数据目录（正斜杠即可，避免 /tmp）
dataDir=D:/data/zookeeper
clientPort=2181
# 3.5.x 内置 AdminServer（Jetty）默认占用 8080，本地易冲突，这里关掉
admin.serverPort=8080
#admin.enableServer=false
#maxClientCnxns=60
